<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJXVenqt5Wwvk4r4jMhFLipPFtgGdztTg</string>
	<key>GCM_SENDER_ID</key>
	<string>37081076374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockMarket</string>
	<key>PROJECT_ID</key>
	<string>stock-market-a3381</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-market-a3381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37081076374:ios:2ff9fb95de25121fefe8b7</string>
</dict>
</plist>